#projects{
    a:active,
    a:focus,
    a:hover{
      text-decoration: none;
    }
    .panel-default{
      border-color: transparent;
      background: transparent;
    }
    .panel-body{
      border-top: 0px !important;
    }
    .panel-group .panel+.panel{
      margin-top: 0px;
    }
    .panel-default>.panel-heading {
        margin: auto;
        color: #333;
        /*background-color: #2380c8;*/
        border-bottom: 2px solid #2380c8;
        border-radius: 0;
    }
    .panel-heading{
      padding: 0px;
    }
    .panel-title a{
      display: block;
      padding: 10px 15px;
    }
    .panel-body{
      padding: 0;
    }
    .panel-content{
      padding: 10px;
    }
    .header{
      width: 100%;
      overflow: hidden;
      height: 200px;
      position: relative;
    }
    .header img{
      position: absolute;
      bottom: 0;
      top: 0;
      margin: auto;
    }
      #Region_Arica_Parinacota{
        /*fill:#A3BD31;stroke:#727176;stroke-width:3;stroke-miterlimit:10;*/

      }
    #Region_Arica_Parinacota {
     fill : "#333333";
      
    }
    g{
     fill : "#333333" !important;
    }

    .in.marcador{
        display: block !important;
        z-index: 1000;
    }
    .in.marcador path{
        animation-name: marcador_select;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes marcador_select {
        0%{transform: translateY(0px);}
        50% {transform: translateY(10px);}
        100%{transform: translateY(0px);}
    }

    .region_tabs.in,
    .region_tabs.in g,
    .region_tabs.in path,
    .region_tabs.in g path{
       fill: #2380c8 !important;
       stroke: #fff !important;
    }
    #Internacional{
        stroke: #b5b1b1;
    }
    #svg4400 g path{
      fill: #e8e8e882;
       stroke: #b5b1b1;
    }
    #container-svg{
      /*overflow: hidden;*/
      /*height: 400px;*/
      position: relative;
    }
    #container-svg::after{
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 50px; 
      z-index: 100;
      background: rgba(255,255,255,0);
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(251,251,251,1) 52%, rgba(255,255,255,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(255,255,255,0)), color-stop(52%, rgba(251,251,251,1)), color-stop(100%, rgba(255,255,255,1)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(251,251,251,1) 52%, rgba(255,255,255,1) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(251,251,251,1) 52%, rgba(255,255,255,1) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(251,251,251,1) 52%, rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(251,251,251,1) 52%, rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    }
    #container-svg::before{
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      height: 50px;
      z-index: 100;
      background: rgba(255,255,255,1);
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 48%, rgba(255,255,255,0) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(48%, rgba(251,251,251,1)), color-stop(100%, rgba(255,255,255,0)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 48%, rgba(255,255,255,0) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 48%, rgba(255,255,255,0) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 48%, rgba(255,255,255,0) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 48%, rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    }

    #container-svg svg{
      /*transform: scale(4) translateY(33px);*/
    }
    #point path{
      cursor: pointer;
    }
    #marcadores g{
      transform: translateY(-10px);
      display: none;
    }
}