<template>
	<div class="col-xs-6 col-sm-4 col-md-3 col-centered team_container">
		<div class="team_persom">
			<a v-bind:href="boss">
				<img :src="img">
				<div class="team_persom_data">
					<h5 class="team_persom_name">{{ lastname }} <br>{{ name }}</h5>
					<p>{{ position }}</p>
				</div>
			</a>
		</div>
	</div>
</template>

<script>
    export default {
    	props: ['boss','name','lastname','position','img'],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
