.fa-chevron-right:after,   
.fa-chevron-left:after{   
    content: "";
    background: $color-primary;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -2px;
    bottom: 0;
    margin: auto;
    transition-duration: .5s;
    @include transform(rotate(45deg));
    z-index: -1;
    opacity: 1.5;
    @media screen and (max-width: 767px){
        background: rgba($color-primary,.5);
    }
}
.fa-chevron-right:after{
    left: -4px;
    right: 0;
}
.fa-chevron-left:after{
    right: -4px;
    left: 0;
}
.fa-chevron-right,
.fa-chevron-left{
    z-index: 100000;
    &:hover{
        font-size: 1.2rem;
    }
    &:focus:after{
        background: $color-primary;
    }
    &:hover:after{
        @include transform(scale(1.2) rotate(45deg));
    }
}

