figure.card__2 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  min-width: 220px;
  /* max-width: 310px; */
  max-height: 310px;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
}
figure.card__2 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}
figure.card__2 img {
  opacity: 1;
  max-width: 100%;
  border: 10px solid #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
figure.card__2 figcaption {
  bottom: 0;
  width: 80%;
  right: 0;
  position: absolute;
  background: #000000;
  padding: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  box-shadow: 0 0px 10px -10px #000000;
}
figure.card__2 figcaption h4,
figure.card__2 figcaption p {
  margin: 0;
  color: #ffffff;
}
figure.card__2 figcaption h2 {
  font-weight: 400;
  text-transform: uppercase;
}
figure.card__2 figcaption h2 span {
  font-weight: 800;
}
figure.card__2 figcaption p {
  font-size: 0.9em;
  font-weight: 500;
  opacity: 0.65;
}
figure.card__2 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.card__2.blue figcaption {
  background: $color-primary;
}
figure.card__2.blue img {
  border: 10px solid $color-primary;
}
figure.card__2:hover figcaption,
figure.card__2.hover figcaption {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  box-shadow: 0 15px 15px -15px #000000;
}
figure.card__2:hover.blue img,
figure.card__2.hover.blue img {
  border: 10px solid darken($color-primary,20%);
}


.card-columns__xs_4{
  @media (min-width: 991px){
    -webkit-column-count: 4;
    column-count: 4;
  }
}

/* 
.card__shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
}

.card__shadow__nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
} */