$color-card: $color-primary;
/**
 * Component: card-blog
 * --------------------------------------------------
 */
figure.card__blog {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  /*min-width: 220px;*/
  /*max-width: 310px;*/
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
}
figure.card__blog * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
figure.card__blog img {
  max-width: 100%;
  vertical-align: top;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
figure.card__blog figcaption {
  padding: .5rem;
  @include word-break();
  position: relative;
}
figure.card__blog .date,
figure.card__blog i {
  background-color: $color-card;
  top: 25px;
  color: #fff;
  left: 25px;
  min-height: 60px;
  min-width: 60px;
  position: absolute;
  text-align: center;
}
figure.card__blog .date {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
figure.card__blog .date span {
  display: block;
  line-height: 30px;
}
figure.card__blog .date .month {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
figure.card__blog i {
  line-height: 60px;
  font-size: 30px;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.card__blog h3,
figure.card__blog p {
  margin: 0;
  padding: 0;
}
figure.card__blog h3 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
}
figure.card__blog p {
  font-size: 0.8em;
  margin-bottom: 20px;
  line-height: 1.6em;
}
figure.card__blog button {
  border: medium none;
  padding: 10px 20px;
  background-color: $color-card;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
}
figure.card__blog a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.card__blog:hover img,
figure.card__blog.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.card__blog:hover .date,
figure.card__blog.hover .date {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.card__blog:hover i,
figure.card__blog.hover i {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.card__blog:hover button,
figure.card__blog.hover button {
  background-color: darken($color-card, 10%);
}
