$c_or: #B7AA9C;
$c_shadow: rgba(#C8C9C9, 0.5);
$c_bg: #efefef;
$c_l_blue: #9BCFCF;
$c_d_blue: #5FB2B2;

*{
    transition: all 0.15s
}

.card-short{
    box-shadow: 0 0 10px $c_shadow;
    background: #fff;
    width: 350px;
    position: relative;
    & .block-text{
        padding: 25px;
        h1{   
            color: $c_or;
            font-size: 20px;
            margin: 30px 0;
        }
        & hr{   
            display: block;
            border: none;
            margin: 0;
            width: 30px;
            background: #efefef;
            margin-bottom: 25px;
            height: 2px;
        }
        & p{   
            font-weight: 300;
            line-height: 20px;
            font-size: 14px;
        }
    }
    & .block-date{
        position: relative;
        width: 100%;
        overflow: hidden;
        &-bg{   
            position: absolute;
            bottom: 0;
            left: 0;
            overflow: hidden;
            width: 100%;
        }
    }
    & .date{        
        color: #fff;
        position: relative;
        z-index: 1;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 0px 30px 15px 30px;
        font-size: 18px;
        opacity: 0;
        transition: all 0.25s;
        transform: translateY(40px);
    }
    & .day{
        float: left;
    }
    & .time{
        float: right;
    }
    & span{
        display: block;
        float: left;
        height: 10px;
        bottom: 0;
        left: 0;
        content: '';
        &.dark{
            background: $c_d_blue;
        }
        &.light{
            background: $c_l_blue;
        }
        &.percent-75{
            width: 70%;
        }
        &.percent-25{
            width: 30%;
        }
    }
    &:hover{
        box-shadow: 0 10px 20px $c_shadow;
        /*margin-bottom: 5px;*/
        & .block-text{   
            & h1{
                margin-top: 5px;
            }
            & hr{
                height: 1px;
            }
        }
        & .block-date{
            & .date{
                opacity: 1;
                padding: 19px 13px 0px 30px;
                transform: translateY(0);
            }
            & span{
                height: 45px;
            }
        }
    }
}