$bg-card-services: #f0f0f042;
$before-card-services: #7f7f7f;

.card {
  margin: 20px auto;
  overflow: hidden;
  display: block;
  background: $bg-card-services;
  border-radius: 2px;
  position: relative;
  box-shadow: 0px 3px 3px rgba(0,0,0,.2), 0px 2px 0px rgba(#408BC8,.5);
  &:hover:before{
    @include transform(rotate(20deg) scale(1.2));
  }
  &:before{
    content: "";
    position: absolute;
    width: 100%;
    color: $before-card-services;
    height: 100%;
    z-index: 0;
    font-size: 11rem;
    opacity: 0.2;
    transition-property: transform;
    transition-duration: 1s;
    @include transform(rotate(20deg));
    font-family: "FontAwesome";
    font-weight: 500; 
  }  
  &.card_1:before{ content: "\f0e7" }
  &.card_2:before{ content: "\f200" }
  &.card_3:before{ content: "\f085" }
  &.card_4:before{ content: "\f017" }
  &.card_5:before{ content: "\f00c" }
  &.card_6:before{ content: "\f0ad" }
  &.card_7:before{ content: "\f0d0" }
  &.card_8:before{ content: "\f1e7" }

  .card-stuff{
    width: 100%;
    padding: 1rem;
    position: relative;
    @include transition(.3s ease-in-out);
    &.active{
      width: 60%;
    }
    & .card__btn{
      text-align: right;
      width: 100%;
    }
    & .card__title{
      font-weight: 800;
    }
    & .card__description{
      
    }
  }
}