.team_container{
	padding-right: 20px;
	padding-left: 20px;
	.team_persom{
		text-align: center;
		width: 100%;
		margin: auto;
		position: relative;
		&:hover{
			& img{
				@include transform(scale(1.1));
			}
			& .team_persom_data{
					transition-duration: .5s;
				&:before{
					transition-duration: .5s;
					top: -7.5px;
					width: 15px;
					height: 15px;
				}
				& .team_persom_name:before{
					width: 80%;
				}
			}
		}

		& img{
			padding: 0 20px;
			@media screen and (max-width: $screen-xs) {
				padding: 0px;
			}
		}

		& a{
			color: #333;
			text-decoration: none;
		}

		& .team_persom_data{
			border-top: 2px solid $color-primary;
			background: white;
			margin: auto;
			position: relative;
			display: table;
			max-height: 116px;
			height: 116px;
			width: 100%;
			&:before{
				content: "";
				position: absolute;
				top: -10px;
				width: 20px;
				height: 20px;
				left: 0;
				right: 0;
				margin: 0 auto;
				background: $color-primary;
				@include transform(rotate(45deg));
			}
			& .team_persom_name{
				position: relative;
				text-align: left;
				margin: auto;
				font-weight: 800;
				&:before{
				    content: "";
				    position: absolute;
					transition-duration: 0.8s;
				    bottom: -4px;
				    width: 20%;
				    height: 2px;
				    background: $color-primary;
				    z-index: 1;
				}
			}
		}
	}
}

.container_boss{
	position: relative;
	.container_img{
		position: relative;
			float: left;
		img{
			border-bottom: 4px solid $color-primary;
			margin-right: 5px;
			margin-left: 5px;
		}
		&:before {
		    content: "";
		    position: absolute;
		    bottom: -10px;
		    width: 20px;
		    height: 20px;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    background: #2380c8;
		    transform: rotate(45deg);
		}
	}
	.boss_name{
		margin-bottom: 0px;
		margin-top: 0px;
		position: relative;
		&::before {
		    content: "";
		    position: absolute;
		    transition-duration: 0.8s;
		    bottom: -2px;
		    width: 20%;
		    height: 3px;
		    background: #2380c8;
		    z-index: 1;
		}
	}
	.boss_position{
		margin-top: 0px;
	}
	.boss_social{
	   padding-right: 0px;
	   padding-left: 0px;
	   padding-bottom: 0px;
	   padding-top: 0px;
	   margin: 0px;
	   @media screen and (max-width: $screen-sm) {
	   		margin: auto;
	   		text-align: center;
	   }
		li{
		   list-style-type: none;
		   display: inline;
		   padding-right: 5px;
		   margin: 10px;
		   position: relative;
		}
	}
}