/*  INITIAL-PROJECT */

button:focus{
	outline: none;
}
html{
	@media screen and (max-width: $screen-xs) {
		font-size: 13px;
	}
}
textarea {
  resize: none;
}

textarea:required, 
input:required {
	border: none;
    @include box-shadow_(0px 0px 0px 1px rgb(219, 219, 219));
}
/*  INITIAL-PROJECT-END */
/*  ___________________ */