/* CAROUSEL-BOOTSTRAP */

.carousel-caption{
	width: 80%;
	height: 100%;
	display: table;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	@media screen and (max-width: $screen-xs) {
		width: 90%;
	}
	& .hero{
		display: table-cell;
		vertical-align: middle;
		h1{
			font-weight: 600;
		}
	}
}

.carousel-animate{
	.hero {
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
	}
	& .carousel-indicators > li {
		margin: 0 4px;
		width: 10px;
		height: 10px;
		background-color: #fff;
		border-color: rgb(58,36,83);
		opacity: .7;
		border: none;
		@include border-radius(0px);
		@include transform(rotate(45deg));
		&:hover{
			background: $color-primary;
		}
		&.active {
			background: $color-primary;
			opacity: 1;
		}
	}
}
.btn.btn-lg {
	padding: 10px 40px;
}
.btn.btn-hero a,
.btn.btn-hero a{
	color: white;
	text-decoration: none;
}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
	@include border-radius(0px);
	color: #fff;
	background-color: $color-primary;
	/* border-color: rgb(67,41,97); */
	outline: none;
	margin: 20px auto;
}
@media screen and (max-width: 640px) {
	.hero h1 {
		/* font-size: 2em; */
	}
}
.carousel-fade .carousel-inner .item {
	transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	@include transform(translate3d(0, 0, 0));
}
.carousel-bg .carousel-inner .item {
	background-color: rgba($color-primary,.6);
	background-size: cover;
	background-position: center;
	min-height: 480px;
}

/* CAROUSEL-BOOTSTRAP-END */
/* ______________________ */