@import "cards/__card_block";
@import "cards/__card_services";
@import "cards/__card_short";
@import "cards/__card_blog";
@import "cards/__card_team";

.card{
  border: 0px !important;
  overflow: hidden;
}

  
.lib-panel {
  margin-bottom: 20Px;
  @media screen and (min-width: 768px) {
    /* min-height: 200px; */
  }
  & img {
      width: 100%;
      background-color: transparent;
  }
  & .row,
  & .col-md-6 {
      padding: 0;
      background-color: #FFFFFF;
  }
}


.lib-panel .lib-row {
    /* padding: 0 20px 0 20px; */
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    /* padding: 10px 20px 0 20px; */
    text-transform: uppercase;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: $color-primary;
    margin: 7px 0 7px 0;
}

/*.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
    text-align: justify;
}*/
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.no-padding {
    padding: 0;
}

.lib-panel{
  padding: 10px;
  position: relative;

  .lib-img__before{ 
    position: relative; 

    &::before {
      content: "";
      position: absolute;
      background-color: $color-primary;
      height: 4px;
      width: 100%;
      bottom: 0;
      left: 0;
      /*
      position: absolute;
      left: 50%;
      bottom: -10px;
      z-index: 1;
      height: 20px;
      width: 20px;
      background-color: $color-primary;
      border: 3px solid white;
      content: '';
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      transition: all 0.5s cubic-bezier(0.67,-0.51,0.42,1.43); 
      */
    }
  }
}

/* 
@keyframes example {
    0%{
      background-color: $color-primary;
    }
    10%{
      transform: rotate(0deg);
      border-radius: 50px;
    }
    20%{
      border: 0px;
    }
    30%,40%{
      bottom: 0;
      height: 3px;
      width: 20px;
      left: 50%;
      border: 0px;
    }
    50%{
      width: 100%;
      left: 0;
      border: 0px;
    }
    100% {
      background-color: $color-primary;
      transform: rotate(0deg);
      border: 0px;
      height: 2px;
      bottom: 0;
      width: 100%;
      left: 0;

    }
} */