/*[class*="container__"]{
  padding-top: 3rem;
}*/
/* [class*="col-"]{
  float: left;
} */
.container__main{
  overflow: hidden;
  @media screen and (min-width: 1200px){
    width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
/*
@media screen and (max-width: 576px){
    .content-1,footer{ overflow: hidden; }
    .content-1 .row{
      position: relative;
    }
    .content-1__img{
      position: absolute;
      right: -9px;
      width: 50%;
      z-index: -1;
      top: 0px;
      opacity: 0.8;
    }
}*/