$margin-top-footer : 4rem;
footer{
    padding-bottom: 10px;
    padding-top: 40px;
    background-color: #212529;
    color: white;
    overflow: hidden;
    border-top: 5px solid $color-primary;
    @if $footer-absolute == true {
    	position: absolute;
    	bottom: 0;
    	left: 0;
    	width: 100%;
    	@media screen and (max-width: 768px) {
    		position: relative;
    		margin-top: 30px;
    	}
    	@at-root body{
			padding-bottom: calc( #{$height-footer} + #{$margin-top-footer} );
			@media screen and (max-width: 992px) {
				padding-bottom: calc( #{$height-footer-md} + #{$margin-top-footer} );
			}
			@media screen and (max-width: 768px) {
				position: relative !important;
				padding-bottom: 0px !important;
			}
    	}
    	@at-root html{
    		position: relative;
    		min-height: 100%;
    		/*height: 100%;*/
    	}
    }else{
    	position: relative;
    	margin-top: $margin-top-footer;
    }
    
	&  .footer__top{
		padding: 0rem  0rem 1rem 0rem;
	}
	&  .footer__bottom{
		position: relative;
		overflow: hidden;
		&::before{
	    	content: "";
		    position: relative;
		    left: 0;
		    right: 0;
		    margin: auto;
		    top: 0;
		    width: 100%;
		    height: 1px;
		    background: rgba(255,255,255,0.6)
		}
		& ul.list-inline{
			margin-bottom: 0px;
			& li{
				padding-left: 0;
				padding-right: 0;
				a{
					text-decoration: none;
			    	color: white;
					animation-duration: 1s;
					margin-right: 5px;
					&:hover{
						color: $color-primary;
						animation: hover-list-footer .3s forwards;
					}
				}
			}
		}
	}
}
.footer_contact{
	padding: 0px;
	& li{
		list-style: none;
		padding-bottom: .5rem;
		& a{
			text-decoration: none;
			color: white;
			&:hover{
				color: $color-primary;
				& i{
				  animation: hover-contact .3s forwards;
					&::before{
						animation: hover-contact .3s forwards;
					}
				}
			}
		}
	}
	&.footer_contact-inv{
		& li{
			& a{
				color: #333;
				
			}
		}
	}
}

@keyframes hover-list-footer{
	from{
		padding: 0;
	}
	to{
		padding: 0px 10px;
	}
}
@keyframes hover-contact{
  0%{
    width: 15px;
    height: 15px;
  }
  50%{
    width: 20px;
    height: 20px;
    @include transform( rotate(20deg));
  }
  75%{
    @include transform( rotate(-20deg));
  }
  100%{
    @include transform( rotate(0deg));
  }
}
/* ---------- SOCIAL ---------- */
.social {
    height: 1em;
    width: 198px;
    padding: 50px 3rem;
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
    position: relative;
    left: -28px;
	/*     position: absolute;
	height: 1em;
	width: 9.5em;
	margin: auto;
	left: 20px;
	right: 0;
	padding: 0px; */
	& li {
	    display: block;
	    height: 3em;
	    line-height: 3em;
	    /* margin: -2.2em; */
	    position: absolute;
		@include transition(transform .7s);
		@include transform(scale(1) rotate(45deg));
	    text-align: center;
	    width: 3em;
	    background: white;
	    overflow: hidden;

		& a {
			color: #212529;
			display: block;
			height: 4em;
			line-height: 4em;
			text-align: center;
			@include transform(rotate(-45deg));
			width: 4em;	
			& i{
			    font-size: 2.2rem;
			    top: -2px;
			    position: relative;
			}
		}
	}


	& li:hover{
		background: $color-primary;
		& a i{
			color: white;
		    @include transition(transform .7s);
			@include transform(scale(1.5) rotate(10deg));
		}
	}
}


.social__1{
	background: white;
	left: 0;
	top: 0%;
}

.social__2{
	background: white;
	bottom: 0;
	left: 25%;
}

.social__3{
	background: white;
	left: 50%;
	top: 0%;
}

.social__4{
	background: white;
	bottom: 0;
	left: 75%;
}

.social__5{
	background: white;
	left: 100%;
	top: 0%;
}