.link {
  vertical-align: top;
  text-decoration: none;
  color: #333;
  position: relative;
}
.wipe {
  transition: color 0.3s ease-out;
  z-index: 1;
  overflow: hidden;
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  span{
    z-index: 10;
    position: relative;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  &::after {
    width: 100%;
    height: 100%;
    display: block;
    background-color: $color-primary;
    content: " ";
    position: absolute;
    top: 0;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(100%);
    z-index: 0;
    left: 0;
  }
  
  &.wipe-collapsed,
  &:hover {
    color: #fff;
    &::after {
      transform: translateY(0px);
    }
  }
}

.underline {
  /*border: 2px solid transparent;*/
  
  &::after {
    width: 0%;
    height: 2px;
    display: block;
    background-color: $color-primary;
    content: " ";
    position: absolute;
    top: 34px;
    left: 50%;
    transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  &:hover {
    &::after {
      width: 100%;
      height: 2px;
      display: block;
      background-color: $color-primary;
      content: " ";
      position: absolute;
      top: 34px;
      left: 0;
    }
  }
}