.navbar{
  @media screen and ( max-width: $screen-sm) {
    overflow: hidden;
  }
  @media screen and ( max-width: $screen-sm) and ( min-width: $screen-xs) {
    .navbar-header{
      padding: 0px 9px;
    }
  }
  @media screen and ( max-width: $screen-xs) {
    min-height: 60px;
  }
}
.navbar-toggle{
  @media screen and ( max-width: $screen-xs) {
    padding: 12px 9px;
  }
}
.navbar-collapse_xs {
  margin: 0px -15px;
  & li{
    /*overflow: hidden;*/
    &.hover,
    &.active{
      /*border-bottom: 1px solid $color-primary;*/
    }
  }
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
  @media screen and (max-width: 767px) {
    padding: 10px 3rem;
  }
}
.navbar-nav>li>.dropdown-menu{
  margin-top: 3px;
  padding: 0px;
  border: none;
}
.dropdown-menu>li>a{
  padding: 1rem 20px;
  position: relative;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
  color: #262626;
  background: #f5f5f5;
  border-bottom: 1px solid #2380c8;
  transition-duration: 1s;
  animation-duration: 1s;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    @include box-shadow_(inset 0px -2px 0px $color-primary);
    &:before{
      animation-duration: .5s;
      transition-duration: .5s;
      content: "";
      position: absolute;
      z-index: 1000;
      bottom: 0px;
      right: 0;
      left: 0;
      @include transform( rotate( 45deg) );
      margin: auto;
      background: $color-primary;
      overflow: hidden;
      height: 0px;
      width: 0px;
      &:hover{
        width: 15px;
        height: 15px;
        bottom: -9px;
      }
    }
}
.navbar-default .navbar-nav>li>a::before,
.navbar .navbar-nav li a::before{
  animation-duration: .3s;
  transition-duration: .3s;
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  right: 0;
  left: 0;
  @include transform( rotate( 45deg) );
  margin: auto;
  background: $color-primary;
  overflow: hidden;
  height: 0px;
  width: 0px;

}
.navbar-default .navbar-nav>li>a:hover::before,
.navbar .navbar-nav li.active a::before{
  width: 15px;
  height: 15px;
  bottom: -9px;
  /* animation: hover-navbar-nav .3s forwards; */
}
/*.navbar .navbar-nav li.active a::before,
.navbar .navbar-nav li:not(.active):not(.dropdown) a:hover::before{*/
/*.nav>li>a{
  padding: 10px .5rem;
}*/
.dropdown.open a .caret{
  transition-duration: .5s;
  @include transform (rotate(180deg));
  color: $color-primary;
}
.caret{
  margin-left: 5px;
}
.nav-visibility-xs{
  display: none;
  @media screen and (max-width: 992px) {
    display: block;
  }
}
.nav-hidden-xs{
  display: none;
  @media screen and (min-width: 992px) {
    display: block;
  }
}
.container__navbar{
  @media screen and (max-width: 992px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.navbar-nav>li>a{
  line-height: 24px;
  @media screen and (max-width: $screen-sm) {
    padding: 10px 2.5rem;
  }
}
@keyframes hover-navbar-nav{
  from{
    width: 0px;
    height: 0px;
  }
  to{
    width: 15px;
    height: 15px;
  }
}
.btn-inicio{
  @media screen and (min-width: 768px) and (max-width: 992px) {
    display: none !important;
  }
}
/* .show-on-hover:focus > ul.dropdown-menu,
.show-on-hover:active > ul.dropdown-menu{
  z-index: -100;
}
.show-on-hover:hover > ul.dropdown-menu {
  @include transform( translateY(0px) );
  opacity: 1;
  visibility: initial;
  z-index: 10000;
}
.show-on-hover > ul.dropdown-menu {
  display: block;
  visibility: hidden;
  z-index: -10;
  opacity: 0;
  transform-origin: center center;
  @include transform( translateY(20px) );
  @include transition_( all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.2s linear);
}
 */
.navbar-nav>li>a{
  @media screen and (min-width: $screen-sm) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.navbar.navbar-default{
  border-bottom: 3px solid $color-primary;
  margin-bottom: 0px !important;
  @media screen and (min-width: $screen-sm) {

  }
}

.pt-0{
  padding-top: 0px;
}
.nav__right{
  @media screen and (min-width: $screen-sm) {
    float: left;
  }
}
.nav__right{
  @media screen and (min-width: $screen-sm) {
    float: right;
  }
}
  .dropdown-lang ul{
    min-width: auto;
  }