.p-0{ padding: 0px!important }
.p-5{ padding: 5px!important }
.section{
	padding-bottom: 1rem;
	padding-top: 1rem;
	@media screen and (min-width: $screen-sm) {
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
	@media screen and (max-width: $screen-sm) {
		padding-bottom: 1rem;
		padding-top: 3rem;
	}
	&:hover .border__bottom:before{
		transition-property: width;
		width: 50%;
	}
}
.relative{
	position: relative;
}

.t-justify{
    text-align: justify;
}

.t-center{
	text-align: center;
}

.t-inline{
	display: initial;
}

.inline-block{
	display: inline-block;
	&.inline-block__m{
		margin-left: 0.5rem;
	}
	@media screen and (max-width: $screen-sm) {
	}
}
.container__main{ 
	margin-top: 3rem;
	@media screen and (max-width: $screen-xs) {
		margin-top: 1rem 
	}
}
.nbsp{
	margin: 0px 0.5rem;
}

.btn-outline-primary {
    margin: 4px 0px;
    color: $color-primary;
    background-color: transparent;
    background-image: none;
    border: 2px solid $color-primary;
    @include border-radius(2px);
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	&:hover {
	    color: #fff;
	    background-color: $color-primary;
	    border-color: $color-primary;
	}
}

.border__bottom {
    position: relative;
	&::before {
	    content: "";
	    position: absolute;
		transition-duration: 0.8s;
	    bottom: -2px;
	    width: 20%;
	    height: 3px;
	    background: $color-primary;
	    z-index: 1;
	}
}

.border__bottom__10 {
    position: relative;
	&::before {
	    content: "";
	    position: absolute;
	    bottom: -2px;
	    width: 100%;
	    height: 2px;
	    background: $color-primary;
	    z-index: 1;
	}
}

.dt-v{
	display: table;
	& > section,
	& > div{
		position: relative;
	    width: 70%;
	    display: table-cell;
	    vertical-align: middle;
	}
}

/* TEXT-TRANSFORM */
.ttc{
    text-transform: capitalize;
}
.ttu{
    text-transform: uppercase;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}