.image_column{
  padding: 4px;
  margin-bottom: 12px;
  width: 100%;
  & img{
    margin-bottom: 4px;
    max-width: 100%;
    height: auto;
    width: 100%;
  }
}

button:focus{
  outline: none;
}

#grid[data-columns]::before {
  @media screen and (max-width: 480px){
    content: '2 .column.size-1of1';
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    content: '2 .column.size-1of2';
  }
  @media screen and (min-width: 769px) {
    content: '4 .column.size-1of4';
  }
}

/* Again, you’re free to use and define the classes: */
.image_column { float: left; padding: 6px; }
.size-1of1 { width: 50%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }
img {
  max-width: 100%;
  height: auto;
}

/* Again, you’re free to use and define the classes: */
#grid .column {
  float: left; 
  padding: 3px;
  & .image_column{
    margin-bottom: 3px;
  }
}