/* scroll-top */
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: $color-primary;
  color: #eeeeee;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  padding-top: 0px;
  @include transition(all 0.5s ease-in-out);
  display: table !important;
  @media screen and (max-width: $screen-xs) {
    right: 9px;
    bottom: 9px;
    background-color: rgba($color-primary, 0.6);
  }

  &:hover {
    & i.fa {
      @include transform(scale(1.1));
    }
  }

  &.scroll-show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
  }

  & i.fa {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 0px 5px;
  }
}
/* scroll-top-end */